# https://git-scm.com/docs/gitignore
/azure/inventory*
/build
/config.local.js
/config.yml
/*.csv
/*.csv.*
/data.yml
/ec2/inventory*
/.envrc
/heroku.csv
/id_ed25519*
/id_rsa*
/*.log
/node_modules
/*.retry
/secret.txt
/ssh/data.yml
/ssh/inventory*
/tmp
/*.tmp
/.vagrant
/.vscode
.DS_Store
