# https://git-scm.com/docs/gitignore
/azure/inventory*
/build
/config.local.js
/config.yml
/*.csv
/*.csv.*
/data.yml
/.envrc
/heroku.csv
/id_*
/*.log
/node_modules
/*.retry
/secret.txt
/tmp
/*.tmp
/.vscode
.DS_Store
