[Unit]
Description=ArchiOWeb REST demo
After=mongod.service network.target

[Service]
Environment=AUTH_TOKEN={{ archioweb_rest_demo_auth_token }}
Environment=BASE_URL={{ archioweb_rest_demo_base_url }}
Environment=DEBUG=demo:*
Environment=NODE_ENV=production
Environment=PORT=8000
ExecStart=/usr/bin/node ./bin/www.js
Restart=on-failure
User={{ archioweb_rest_demo_user }}
WorkingDirectory={{ archioweb_rest_demo_directory }}

[Install]
WantedBy=multi-user.target
